*.pyc
*.pyd
*.pyo
*.swp
*.so
.pybuild
aeneas.egg-info
aeneas/build
bak
build
dist
docs/build
tmp
.env

# service scripts
zzz
zzz_*.py
zzz_*.sh
zzz_long_tests

# Eclipse/PyDev
.project
.pydevproject
.settings

waste*
katawa*
likethis*
lyric*
test.json
testtext.txt
node_modules*
venvs/
output/
debian/
docs/
thirdparty/
pyinstaller-*
check_dependencies.py
run_all_unit_tests.py
